<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="primeira">
  <div class="topo">
    <a><H1>TCC - UNISANTA - 2020</H1></a>
  </div>
</mat-toolbar>

<mat-toolbar class="segunda">
  <div class="logo">
    <a mat-button [routerLink]="'/home'"><H1>4KIDS</H1></a>
  </div>
  <div class="opcoes2">
    <a mat-button [routerLink]="'/equipe'">EQUIPE</a>
    <a mat-button>PROJETO</a>
    <a mat-button >DEPOIMENTOS</a>
    <a mat-button [routerLink]="'/contato'">CONTATO</a>  
  </div>
  <div class="opcoes">
    <a class="linkedin" style="margin-right: 15px; color:#143856;"
    href=""><i class="fa fa-linkedin-square fa-lg"
    aria-hidden="true"></i></a>
    <a style="margin-right: 15px; color:#143856" 
    href=""><i
    class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    <a style="margin-right: 10px; color:#143856" 
    href=""><i
    class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
  </div>
</mat-toolbar>

<router-outlet>  
</router-outlet>




<div class="footer" >
  4KIDS © 2020. Todos os direitos reservados.
</div>